<h3>Products</h3>


<form method="POST">

    {{#each products}}
      <p><b>Name:</b>
      <p>{{title}}</p>
      <p>{{description}}</p>
      <p>{{price}}</p>
      <a href="/products/{{_id}}">View Product</a></p>
      <a href="/cart/delete/{{_id}}">Delete item</a></p>
    {{/each}}
      <a href="/cart/delete">Clear cart</a></p>
      <a href="/">Back to shopping</a></p>
	  <div id="form-group">
	    <button class="btn btn-large btn-info">Purchase</button>
	  </div>

</form>


	 

